@charset "utf-8";
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position:relative;
  overflow: hidden;
}

body {
  font: 14px/20px "Helvetica Neue", Helvetica, STHeiTi, sans-serif, arial;
  -webkit-text-size-adjust: 100%
}

img {
  border: 0;
  vertical-align: middle
}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -90px;
  font: 23px/44px Microsoft YaHei, helvetica, arial;
  width: 180px;
  -webkit-tap-highlight-color: transparent;
  border: none;
  outline: 0;
  -webkit-appearance: none;
  -webkit-box-sizing: content-box;
  border-radius: 30px;
  color: #666;
  background-color: #fff;
  border: 1px solid #666;
  box-sizing: border-box
}

#content {
  opacity: 0;
  width: 100%;
  height: 100%;
  background: url(./bg.jpg) 0 100%/100% 100% no-repeat;
  position: relative;
  transition: all .5s;
  max-width: 540px;
  margin: 0 auto
}

#video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .5s;
  z-index:-1;
}

#video.miui {
  top: 0;
  left: 0;
  transform: none;
  trassition: none
}

.all {
  width: 100%;
  height: 100%
}

#loading {
  background: url(./loading.gif) 0 100%/100% 100% no-repeat;
  max-width: 540px;
  margin: 0 auto
}

#play {
  width: 100px;
  height: 114px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -57px -50px 0 0;
  transform: translate(-50%, -50%);
  background: url(./btn.jpg) 0 100%/100% 100% no-repeat;
  -webkit-tap-highlight-color: transparent;
  transition: transform .5s ease 0 infinite;
  animation: 1s scale infinite
}

@keyframes scale {
  50% {
    opacity: .5
  }
  100% {
    opacity: 1
  }
}
